body, p, ul, li {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
}

.container {
    margin: 20px auto;
    max-width: 1600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 10px;
    text-align: center;
}

td {
    padding: 10px;
    text-align: center;
}

table tr:nth-child(4n) {
    background-color: #f2f2f2;
}

.edit-form input[type="text"],
.edit-form input[type="number"],
.edit-form input[type="datetime-local"]{
    text-align: center;
    box-sizing: border-box;
}

tr.edit-form {
    display: none;
}

tr.edit-form td {
    width: 40%;
}

tr.edit-form input{
    width: 100%;
}

tr.edit-form input[type="submit"]{
    width: auto;
    margin-top: 5px;
}

button {
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 2px;
}

button:hover {
    background-color: #1e7e34;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

.edit-form {
    background-color: #f2f2f2;
}

input[type="text"],
input[type="number"]{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.remove-button{
    background-color: #FF3333;
}

.remove-button:hover{
    background-color: #CE2029;
    color: #fff;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

#popup {
    width:400px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 1001;
}

#closePopup {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.createevents {
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}

.createevents h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.createevents label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.createevents input[type="text"],
.createevents input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.createevents input[type="datetime-local"] {
    text-align: center;
}

.createevents input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.createevents input[type="submit"]:hover {
    background-color: #0056b3;
}

.createevents a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.createevents a:hover {
    text-decoration: underline;
    color: #0056b3;
}

#createEventButton{
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#createEventButton:hover {
    background-color: #0056b3;
}

.navbar ul {
    background-color: #36454F;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    line-height: 50px;
}

.navbar ul li:last-child {
    position: absolute;
    top: 0;
    right: 0;
}

.navbar a {
    color: #fff;
    background-color: #36454F;
    border: 2px;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    border: 2px solid transparent;
}

.navbar a:hover {
    text-decoration: none;
    border: solid white;
    border: 2px solid white;
}

.session-attribute {
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
    position: absolute;
    top: 7px;
    right: 100px;
}