.login-form,
.registration-form{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

.login-form h2,
.registration-form h2{
    text-align: center;
    color: #333;
}

.login-form label,
.registration-form label{
    display: block;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"],
.registration-form input[type="text"],
.registration-form input[type="password"]{
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-form input[type="submit"],
.registration-form input[type="submit"]{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

.login-form input[type="submit"]:hover,
.registration-form input[type="submit"]:hover{
    background-color: #0056b3;
}

.login-form p,
.registration-form p{
    text-align: center;
    margin-top: 10px;
}

.login-form a,
.registration-form a{
    color: #007bff;
    text-decoration: none;
}

.login-form a:hover
.registration-form a:hover{
    text-decoration: underline;
}

.login-form .error-message {
    color: red;
    text-align: center;
}

.registration-form select {
    width: 20%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
}